@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Details";
}
 <div class="container pb-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <img class="img-responsive" src="~/theme/img/kamera.webp" alt="kamera" />
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h1>Kodak Kamera #231465</h1>
                </div>
                <div class="col-md-12">
                    <span class="badge badge-primary">In stock</span>
                    <span class="product-number">#231465</span>
                </div>
                <div class="col-md-12">
                    <div id="description">
                        please sticker Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Illo ea minus nemo dolores veritatis reprehenderit sit tenetur, accusantium a animi 
                        sint temporibus fugiat repellat earum dolorem consequatur commodi deserunt esse.
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="d-inline">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        </div>
                        <div class="d-inline ml-2">
                            <span class="badge badge-success">53</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-warning">Write a Review</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h1>$120</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-primary">
                            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            Add to Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Tabs -->
<div class="container mt-5">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tab1">Description</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab2">Payment Methods</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab3">Reviews</a>
        </li>
    </ul>

    <div class="tab-content mt-3">
        <div id="tab1" class="tab-pane fade show active">
            <h3>Tab 1 Content</h3>
            <p>This is the content of Tab 1.</p>
        </div>
        <div id="tab2" class="tab-pane fade">
            <h3>Tab 2 Content</h3>
            <p>This is the content of Tab 2.</p>
        </div>
        <div id="tab3" class="tab-pane fade">
            <h3>Tab 3 Content</h3>
            <p>This is the content of Tab 3.</p>
        </div>
    </div>
</div>